TOKEN=""
CLIENT_ID=""
GUILD_ID=""

GPORTAL_EMAIL=""
GPORTAL_PASSWORD=""

DATABASE_TYPE="mysql"
DATABASE_HOST="localhost"
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="rce_discord_bot"

LOG_LEVEL="info"

EMBED_COLOR="#e6361d"
EMBED_FOOTER_TEXT="RCE Admin"
EMBED_LOGO="https://cdn.void-dev.co/rust.png"

WELCOME_MESSAGE="<br><size=40>Hello <color=orange>{{username}}</color>,<br>Welcome To <color=#03bcff>Metal Mayhem</color></size><br>Join Our Discord: <color=red><b>https://discord.gg/XFx6XXHnDA</b></color>"